<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joaquín Arce - Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="img-container">
        <div class="inner-container">
            <h1>Hero image sample</h1>
            <h2>jiodhvsdvhsibhbbbbbo</h2>
        </div>
    </div>

    <div class="carousel">
        <div class="list">
            <div class="item" style="background-image: url(../static/img/ardilla.jpg);">

            </div>
            <div class="item" style="background-image: url(../static/img/conejo.jpg);">
                
            </div>
            <div class="item" style="background-image: url(../static/img/erizo.jpg);">
                
            </div>
            <div class="item" style="background-image: url(../static/img/perro.jpg);">
                
            </div>
        </div>
    </div>
</body>
</html>