{% extends "navbar.html" %}

{% block title %}Joaquín Arce - Portfoli{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block body %}
<body>
    <div class="img-container">
        <div class="inner-container">
            <h1 class="title1">Hero image sample</h1>
            <h2 class="title2">jiodhvsdvhsibhbbbbbo</h2>
        </div>
    </div>

    <h1 class="subtitle1">Mis Proyectos</h1>
    <div class="carousel">
        <div class="list">
            <div class="item" style="background-image: url(../static/img/ardilla.jpg);">
                <div class="content">
                    <div class="title">SLIDER</div>
                    <div class="name">ARDILLA</div>
                    <div class="des">esta es una descripciòn breve de mi work, ahora estoy escribiendo para alargar la desc</div>
                    <div class="btn">
                        <button>See More</button>
                    </div>
                </div>
            </div>
            <div class="item" style="background-image: url(../static/img/conejo.jpg);">
                <div class="content">
                    <div class="title">SLIDER</div>
                    <div class="name">CONEJO</div>
                    <div class="des">esta es una descripciòn breve de mi work, ahora estoy escribiendo para alargar la desc</div>
                    <div class="btn">
                        <button>See More</button>
                    </div>
                </div>
            </div>
            <div class="item" style="background-image: url(../static/img/erizo.jpg);">
                <div class="content">
                    <div class="title">SLIDER</div>
                    <div class="name">ERIZO</div>
                    <div class="des">esta es una descripciòn breve de mi work, ahora estoy escribiendo para alargar la desc</div>
                    <div class="btn">
                        <button>See More</button>
                    </div>
                </div>
            </div>
            <div class="item" style="background-image: url(../static/img/perro.jpg);">
                <div class="content">
                    <div class="title">SLIDER</div>
                    <div class="name">PERRO</div>
                    <div class="des">esta es una descripciòn breve de mi work, ahora estoy escribiendo para alargar la desc</div>
                    <div class="btn">
                        <button>See More</button>
                    </div>
                </div>
            </div>
            <div class="item" style="background-image: url(../static/img/conejo2.jpg);">
                <div class="content">
                    <div class="title">SLIDER</div>
                    <div class="name">CONEJO2</div>
                    <div class="des">esta es una descripciòn breve de mi work, ahora estoy escribiendo para alargar la desc</div>
                    <div class="btn">
                        <button>See More</button>
                    </div>
                </div>
            </div>
            <div class="item" style="background-image: url(../static/img/erizo2.jpg);">
                <div class="content">
                    <div class="title">SLIDER</div>
                    <div class="name">ERIZO2</div>
                    <div class="des">esta es una descripciòn breve de mi work, ahora estoy escribiendo para alargar la desc</div>
                    <div class="btn">
                        <button>See More</button>
                    </div>
                </div>
            </div>
            <div class="item" style="background-image: url(../static/img/perro2.jpg);">
                <div class="content">
                    <div class="title">SLIDER</div>
                    <div class="name">PERRO2</div>
                    <div class="des">esta es una descripciòn breve de mi work, ahora estoy escribiendo para alargar la desc</div>
                    <div class="btn">
                        <button>See More</button>
                    </div>
                </div>
            </div>
            <div class="item" style="background-image: url(../static/img/ardilla2.jpg);">
                <div class="content">
                    <div class="title">SLIDER</div>
                    <div class="name">ARDILLA2</div>
                    <div class="des">esta es una descripciòn breve de mi work, ahora estoy escribiendo para alargar la desc</div>
                    <div class="btn">
                        <button>See More</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="arrows">
            <button class="prev"><</button>
            <button class="next">></button>
        </div>

        <div class="timeRunning"></div>
    </div>

    <div class="bubble-container">
        <div class="bubble main">
            <img src="https://via.placeholder.com/150" alt="Main Bubble">
        </div>
        <div class="bubble small">
            <img src="https://via.placeholder.com/80" alt="Small Bubble 1">
        </div>
        <div class="bubble small">
            <img src="https://via.placeholder.com/80" alt="Small Bubble 2">
        </div>
        <div class="bubble small">
            <img src="https://via.placeholder.com/80" alt="Small Bubble 3">
        </div>
        <div class="bubble small">
            <img src="https://via.placeholder.com/80" alt="Small Bubble 4">
        </div>
        <div class="bubble small">
            <img src="https://via.placeholder.com/80" alt="Small Bubble 5">
        </div>
        <div class="bubble small">
            <img src="https://via.placeholder.com/80" alt="Small Bubble 6">
        </div>
    </div>

    <div class="cuadrado"></div>

    <script src="static\js\app.js"></script>
</body>
{% endblock %}